:root {
    /* Widths */
    --mobile: 375px;
    --desktop: 1440px;

    /* Colors */
    --naranja: hsl(35, 77%, 62%);
    --naranja-oscuro: hsl(5, 85%, 63%);
    --blanco: hsl(36, 100%, 99%);
    --gris: hsl(233, 8%, 79%);
    --azul: hsl(236, 13%, 42%);



    /* Typography */
    --font-family: 'Inter', sans-serif;

    /* utilities */

    --padding-body: 0px 16px;
    --margin-body: 29px 0px;
 }


*, 
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;     
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

/* ---- header ---- */ 

.header {
    height: 100px;  
    position: relative;
    width: 100%;
}

.header__container {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-body);
    margin: var(--margin-body);
}

.header__container2 {
    position: absolute;
    right: 5%;
}

