:root {
    /* Widths */
    --mobile: 375px;
    --desktop: 1440px;

    /* Colors */
    --naranja: hsl(35, 77%, 62%);
    --naranja-oscuro: hsl(5, 85%, 63%);
    --blanco: hsl(36, 100%, 99%);
    --gris: hsl(233, 8%, 79%);
    --azul: hsl(236, 13%, 42%);



    /* Typography */
    --font-family: 'Inter', sans-serif;
    --font-size: 1.6rem;

    /* utilities */

    --padding-body: 0px 16px;
    --margin-body: 40px 0px;
 }


*, 
::after,
::before {
   box-sizing: border-box;
   margin: 0;
   padding: 0;     
}

html {
    box-sizing: inherit;
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

/* ---- header ---- */ 

.header {
    height: 60px;  
    position: relative;
    width: 100%;
}

.header__container {
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-body);
    margin: var(--margin-body);
}

.header__container1 {
    position: absolute;
}

.header__container2 {
    position: absolute;
    right: 5%;
}

/* ---- Main ---- */ 

.main {
    position: relative;
    padding: var(--padding-body);
    font-size: var(--font-size);
}

.main__image {
    width: 100%;;
}

.main__title {
    margin: 20px 0px;
    font-size: 4.1rem;
}

.main__pgraph {
    margin-bottom: 20px;
    color: var(--azul);
}

.main__button {
    padding: 16px 29px;
    background-color: var(--naranja-oscuro); 
    text-transform: uppercase;
    color: white;
    border: none;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 10px 0px 60px 0px;
}

/* ---- section new ---- */ 

.new {
    padding: var(--padding-body);
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    color: var(--blanco);
    margin: 0 16px 0 16px;
    margin-bottom: 60px;
}

.new__first-title {
    color: var(--naranja);
    margin-bottom: 40px;
}

.new__second-title {
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: calc(var(--font-size) + 4px);
}

.new__pgraph {
    color: var(--gris);
}

.new__pgraph-border {
    width: 100%;
    height: 1px;
    background-color: var(--azul);
    margin: 30px 0px 30px 0px;
}